* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.container {
  --colorLine: #037403;
  --colorPoint: #fb5639;
  --lineDash: 8, 3;

  --sx: 3;
  --sy: 30;
  --cp1x: 24;
  --cp1y: 90;
  --cp2x: 44;
  --cp2y: 10;
  --ex: 97;
  --ey: 79;

  --point1: 10;
  --point2: 20;
  --points: 80, 85, 90;

  position: relative;
  overflow: hidden;
  border: 1px solid #141414;
  inline-size: min(600px, 98%);
  aspect-ratio: 5/4;
  background: paint(coordinateMap);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0) 3cqi,
        rgba(0, 0, 0, 0.03) 3cqi,
        rgba(0, 0, 0, 0.03) 6cqi
      ),
      repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0) 3cqi,
        rgba(0, 0, 0, 0.03) 3cqi,
        rgba(0, 0, 0, 0.03) 6cqi
      );
  }
  .p {
    --size: 8px;
    position: absolute;
    display: block;
    width: var(--size);
    height: var(--size);
    outline: 1.5px solid purple;

    &--start {
      top: calc(var(--sy) * 1% - var(--size) / 2);
      left: calc(var(--sx) * 1% - var(--size) / 2);
    }
    &--end {
      top: calc(var(--ey) * 1% - var(--size) / 2);
      left: calc(var(--ex) * 1% - var(--size) / 2);
    }
    &--cp1 {
      top: calc(var(--cp1y) * 1% - var(--size) / 2);
      left: calc(var(--cp1x) * 1% - var(--size) / 2);
    }
    &--cp2 {
      top: calc(var(--cp2y) * 1% - var(--size) / 2);
      left: calc(var(--cp2x) * 1% - var(--size) / 2);
    }

    &--double {
      outline-offset: 2px;
      border-radius: 50%;
      border: 1px solid purple;
    }
  }
}
